<%= javascript_include_tag "crize_upload" %>

<%= form_for @consultant, html: {class: 'form-horizontal', multipart: true} do |f| %>

    <% if @consultant.errors.any? %>
        <div id="error_explanation">
          <h2>Please fix the following values:</h2>
          <ul>
            <% @consultant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="photoUploadPopup">
      <div class="content_panel">
        <a href="javascript:void(0)" class="close">Close</a>
        <img src=''/>

        <div class="apply btn">Apply</div>
      </div>
    </div>

    <div class="photo_panel">
      <%= f.hidden_field :image_data %>
      <div id="img-container">
        <img src='/<%= @consultant.photo.url %>'/>
      </div>
      <br/>

      <div class="fileUpload btn btn-primary">
        <span class="upload_btn">Upload Photo</span>
        <input type="file" id='open-crize' class="upload">
      </div>

      <div id="crize"></div>
    </div>

    <div class="left_panel">
      <h2>Basic Details</h2>

      <div class="control-group">
        <%= f.label :employee_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :employee_id, :class => 'number_field', :disabled => true %>
          <%= f.hidden_field :employee_id %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :nickname, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :nickname, :class => 'text_field', :placeholder => "Superstar Powerstar ..." %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :mobile, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :mobile, :class => 'text_field' %>
        </div>
      </div>

      <h2>Password (Optional) </h2>

      <div class="control-group">
        <%= f.label :password, 'New Password', :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password_confirmation, "Confirm", :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off" %>
        </div>
      </div>

    </div>

    <div class="right_panel">

      <h2>Your Social Persona</h2>


      <%= f.fields_for :persona do |p| %>

          <div class="control-group">
            <%= p.label :twitter, :class => 'control-label' %>
            <div class="controls">
              <%= p.text_field :twitter, :class => 'text_field', :placeholder => "@superstarrajini" %>
            </div>
          </div>

          <div class="control-group">
            <%= p.label :github, :class => 'control-label' %>
            <div class="controls">
              <%= p.text_field :github, :class => 'text_field', :placeholder => "Just the user id" %>
            </div>
          </div>

          <div class="control-group">
            <%= p.label :stackoverflow, "Stack Overflow", :class => 'control-label' %>
            <div class="controls">
              <%= p.text_field :stackoverflow, :class => 'text_field', :placeholder => "that goes like 1385252" %>
            </div>
          </div>

          <div class="control-group">
            <%= p.label :blog, :class => 'control-label' %>
            <div class="controls">
              <%= p.text_field :blog, :class => 'text_field', :placeholder => "Complete URL" %>
            </div>
          </div>

          <div class="control-group">
            <%= p.label :good_reads, "Good Reads", :class => 'control-label' %>
            <div class="controls">
              <%= p.text_field :good_reads, :class => 'text_field', :placeholder => "that goes like 5129887-rc" %>
            </div>
          </div>

      <% end %>


    </div>
    <div class="clear"></div>
    <div class="form-actions">
      <%= f.submit "Save Changes", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel'),
                  root_path, :class => 'btn' %>
    </div>
<% end %>
