<!DOCTYPE html>
<html>
<head>
  <title>Pugaipadam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= image_tag "logo.png", alt: 'Chennai foto wall' %>

  
</header>
<%- model_class = Consultant -%>

<div class="edit_form">

  <h1>Please fill in all that is applicable to you</h1>

<%= render :partial => 'form' %>
</div>
</body>
</html>







