<header>
  <%= javascript_include_tag "wall", "data-turbolinks-track" => true %>

  <a href="<%=root_path%>">
    <%= image_tag "logo.png", alt: "Chennai foto wall", class: 'logo-image' %>
  </a>

  <%= render 'common/flash', flash: flash %>

  <div class="sort_panel">
    <a href="javascript:void(0)" class="sel">Sorted by Name</a>
    <ul id="sort_list" class="hide">
      <li><a href="javascript:void(0)">Name</a></li>
      <li><a href="javascript:void(0)">Date Joined</a></li>
      <li><a href="javascript:void(0)">Role</a></li>
    </ul>
  </div>

  <div class="filter_panel" id="filter_role">
    <a href="javascript:void(0)" class="sel">Showing All Roles</a>
    <ul id="dropdown_role" class="hide">

    </ul>
  </div>

  <div class="filter_panel" id="filter_project">
    <a href="javascript:void(0)" class="sel">Showing All Projects</a>
    <ul id="dropdown_project" class="hide"></ul>
  </div>

  <div class="filter_panel">
    <input type='text' id="consultant_search"/>
  </div>

  <div class="login_panel">
    <%= render 'devise/menu/login_items' %>
  </div>
</header>


<div class="master_container">
  <div id="employeeDetails" class="consultant-layout"></div>
  <div class="clear"></div>
</div>

<div id="employeePopup">

  <div class="content_panel">
    <a href="javascript:void(0)" class="close">Close</a>

    <div class="content">
    </div>
  </div>
</div>